#browser.win.win10 #header #titlebar .window-buttongroup button.window-minimize svg {
  margin: auto;
  color: lawngreen;
  border-radius: 20px;
  background: lawngreen;
  pointer-events: visible;
}
button.window-minimize > svg > path {
  fill: transparent !important;
}
#browser.win.win10 #header #titlebar .window-buttongroup button.window-minimize svg:hover {
  margin: auto;
  color: #0DEE9C;
  border-radius: 20px;
  background: #0DEE9C;
}
#browser.win.win10.tabs-top #header #titlebar .window-buttongroup button:not(.vivaldi) {
  height: 39px;
    margin: 1px -9px;
}
svg.window-maximize {
  pointer-events: visible;
  background: yellow !important;
    color: yellow !important;
    border-radius: 20px !important;
}
svg.window-maximize:hover {
  background: #D5D503 !important;
    color: #D5D503 !important;
    border-radius: 20px !important;
}
.theme-dark#browser.win.win10 .window-buttongroup button:hover{
  background-color: transparent;
}
.toolbar-statusbar {
  background: var(--colorBg);
color: var(--colorFg);
height: 22px;
box-shadow: inset 0 1px 0 0 var(--colorBorder);
font-size: 11.5px;
position: absolute;
width: 100%;
bottom: 0px;
margin: 0px 34px;
padding-right: 32px;
/* z-index: 1; */
}
.UrlBar {
  width: 100%;
  padding: 0px 30px;
  position: absolute;
  margin: 0 34px;
}
div.toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-noflex.toolbar-large {
  right: 30px !important;
      left: -30px !important;
}
.UrlBar-AddressField {
  background: none;
  border: none;
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-radius: 5px;
}
.UrlBar-AddressField:hover {
  border: none;
}
.UrlBar-AddressField:hover {
background: #2C343C;
border-radius: 5px;
}
.UrlBar-AddressField:focus {
  border-radius: 5px;
}
.UrlBar-AddressField:focus:hover {
  background: #394551;
}
.theme-dark #switch button.webviewbtn img {
  background-color: transparent;
}
#modal-bg > div {
  border-radius: 20px;
}
.dialog-footer input[type=button], .dialog-footer input[type=submit], .dialog-footer input[type=submit] + input[type=button], .dialog-footer input[type=button] + input[type=button]{
  border-radius: 20px;
}
#browser.win.win10 #header #titlebar .window-buttongroup button.window-close:hover {
  background-color: none;
}
.color-behind-tabs-off .toolbar-mainbar {
  background: #394551;
}
#browser .tab-position .tab.active {
  background: #394551;
  background-color: #394551;
}
#panels-container.left #switch {
      background: #171B1F;
      box-shadow: none;
}
.theme-dark .tab-position .tab.active .tab-header .favicon:not(.svg) {
  filter: none;
}
button.windows-maximize {
  background: red;
  fill: red;
  border-radius: 20px;
}
@namespace xlink 'http://www.w3.org/2000/svg';
svg image[xlink|href*="temp"] {
    background: red;
    fill: red;
    border-radius: 20px;
}
#browser.win.win10 #header #titlebar .window-buttongroup button.window-close:hover {
  background: transparent;
  fill: red;
}
.sdwrapper .iconmenu-container.SearchField {
  border-radius: 20px;
}
.thumbnail-image {
background-color: transparent;
background: transparent;
}
#panels .webpanel-stack .webpanel {
  bottom: 56px;
}
#panels .webpanel-stack {
  top: 34px;
}
div.button-toolbar.newtab:before {
  content: "+" !important;
  font-size: 20px;
  position: relative;
  left: 8px;
  top: -3px;
  text-align: center !important;
}
div.button-toolbar.newtab {
  fill: transparent !important;
}
div.button-toolbar.newtab:hover {
  transition: 0.3s;
  background: #394551 !important;
  border-radius: 4px !important;
}
div.button-toolbar.newtab > button {
 position: absolute;
 left: 1px !important;
 height: 0px !important;
 top: 1px !important;
 left: -14px !important;
 width: 45px !important;
}
button.window-close > svg {
  pointer-events: visible;
  background: #F2253A !important;
  fill: #F2253A !important;
  border-radius: 20px !important;
}
button.window-close > svg:hover {
  background: red !important;
  fill: red !important;
  border-radius: 20px !important;
}
button.window-minimize {
  pointer-events: none !important;
}
button.window-maximize {
  pointer-events: none !important;
}
button.window-close {
  pointer-events: none !important;
}
.color-behind-tabs-off .toolbar-mainbar{
  height: 38px;
}
.dials .dial .thumbnail-image {
  border-radius: 20px;
}
div.button-toolbar.toggle-trash > button {
  position: fixed !important;
  right: 79px !important;
  top: 1px !important;
}
.startpage .startpage-drawer {
  height: 294px;
  border-radius: 20px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 1;
  border-top: 1px solid var( --colorBorder);
  position: absolute;
  transform-origin: 100% 0;
  border-bottom: 10px solid var( --colorBg);
  background-color: var( --colorBg);
  margin-bottom: -10px;
  max-width: 100%;
}
.startpage .startpage-drawer section.drawer-adddial {
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
button.close {
  border-radius: 20px;
  background: #555555;
  cursor: pointer;
}
div.dial-columns {
  cursor: pointer !important;
}
.startpage .startpage-drawer {
  width: 400px;
}
#modal-bg.slide > div {
  border-radius: 20px;
  }
  button.button-startpage.up {
    border-radius: 10px;
    cursor: pointer;
  }
  #panels-container.left .addwebpanel-wrapper .addwebpanelcallout {
    border-radius: 12px;
  }
  .addwebpanel-wrapper .addwebpanelcallout:before, .addwebpanel-wrapper .addwebpanelcallout:after {
    border: 0px
  }
  .theme-dark .startpage .startpage-drawer section.drawer-suggestions .dial-suggestions .dial .dial-image img {
    background-color: transparent;
    border: none;
}
.speeddial .dial.add .thumbnail-image svg.add-speeddial-large-plus {
  align-self: center;
  fill: var(--colorHighlightBg);
  margin-top: 3px;
  width: 14px;
  height: 31px;
  transition: transform 500ms cubic-bezier(0.8, -0.3, 0.15, 1.3);
}
svg.add-speeddial-large-plus {
  position: relative;
  left: -50px;
  top: 0px;
}
button-popup.button-popup-arrow.button-popup-arrow--dark.button-popup-arrow--below button-popup-enter-done {
 border-radius: 20px !important;
}
.button-popup {
  border-radius: 12px !important;
}
div.button-popup-wrapper {
  border-radius: 12px !important;
}
div.account-dialog > header {
  border-radius: 12px !important;
}
div.account-dialog {
  border-radius: 12px !important;
}
div.popup-scrollarea {
  border-radius: 12px !important;
}
div.button-popup-wrapper {
  border-radius: 12px !important;
}

#webview-container {
  display: flex;
  flex: 1;
  position: absolute;
  height: 100%;
  margin: 0px 34px;
  width: 100%;
  color: var(--colorFg);
  background-color: var(--colorBg);
  padding-right: 34px;
}

#panels .webpanel-stack {
    position: absolute !important;
    display: flex !important;
    flex: 1 !important;
    width: 100% !important;
    height: 100% !important;
}
#panels .webpanel-stack .webpanel .webpanel-content {
    margin-top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 41px 0px !important;
    position: absolute !important;
    overflow: hidden !important;
}
.thumbnail-image svg .folder-tab-color {
  visibility: hidden;
}
div.internal.webpageview {
 margin: 38px 0px !important;
}
div.active.visible.webpageview.pagefocusstop {
  margin: 38px 0px !important;
}
#webview-container {
  display: contents;
}
button.vivaldi {
  background:  #171b1f !important;
}
.toolbar-statusbar {
  background: #171b1f;
} 
@media fullscreen and (min-width: 1920px) {
  #webpage-stack {
    margin: -38px 0px;
  }
}
div#webpage-stack.resize {
  margin-bottom: -16px;
}
div.ignore-react-onclickoutside.OmniDropdown {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top: 20px;
  left: -2px;
  margin-right: -2px;
  padding:12px 0px;
  max-width: none;
  border: 2px solid cyan;
  background: #394551;
  color: white;
  border-top: none;
}
.SearchField:focus-within, .UrlBar-AddressField:focus-within {
  border-color: cyan;
  border: 2px solid cyan;
  box-shadow: none;
  background-color: #394551;
}
button.addwebpanel.panelbtn:hover {
  border-radius: 20px;
  box-shadow: inset -1px 0 0 0 cyan;
  background-color: cyan;
  border-radius: 20px;
  color: white;
  animation: SidebarPanelAddButtonAnimation .8s;
}

@keyframes idebarPanelAddButtonAnimation {
  from{transform: scale(0);}
  to{transform: scale(0.9);}
}
.addwebpanel-wrapper button {
  background-color: transparent;
  border-radius: 20px;
  border: none;
}
input.address {
  border-radius: 20px;
  outline: cyan;
}
.theme-dark .addwebpanel-wrapper button img, .theme-dark .addwebpanel-wrapper button svg {
  border-radius: 20px;
}
button.addwebpanel.panelbtn:focus {
  transition: transform 500ms cubic-bezier(0.8, -0.3, 0.15, 1.3);
}
input.address:focus {
  outline: cyan !important;
  border: 2px solid cyan !important;
  box-shadow: none !important;
  background-color: #394551;
}
input.address:hover:focus {
  outline: cyan !important;
  border: 2px solid cyan !important;
  box-shadow: none !important;
  background-color: #394551;
}
h1 {
  position: relative;
  left: 9px;
}
#panels-container.left .addwebpanel-wrapper .addwebpanelcallout {
  animation: leftfade 800ms cubic-bezier(0.2, 0.9, 0.6, 1);
}
.bookmark-bar {
  display: flex;
  flex: 0 0 auto;
  overflow: visible;
  height: 28px;
  font-size: 11.5px;
  border: 0 solid var(--colorAccentBgDarker);
  position: relative;
  background-color: var(--colorAccentBgDark);
  top: 38px;
  margin: 0px 34px;
  margin-right: 0px;
  color: var(--colorAccentFg);
  fill: var(--colorAccentBg);
  stroke: var(--colorAccentFgFaded);
  --yield: 60px;
}
#main {
  position: relative;
  flex-direction: column;
  z-index: 0;
  background: #171b1f;
}
.address-top .toolbar-mainbar:after {
  visibility: hidden;
}
.bookmark-bar {
  background-color: #394551;
}
.color-behind-tabs-off .bookmark-bar button {
  background-color: #394551;
}
#switch .addwebpanel-wrapper > button.active, #switch > button.active {
  background-color: #0ec7ff;
  transform: scale(0.8);
  color: white;
  fill: white;
  border-radius: 8px;
  border-color: var(--colorBorder);
  position: relative;
}
.startpage .startpage-navigation {
  visibility: hidden;
}
div.toolbar.toolbar-default.toolbar-wrap > input  {
  border-radius: 20px !important;
}
div.toolbar.toolbar-default.toolbar-wrap > select  {
  border-radius: 20px !important;
}
#panels .webpanel-stack .webpanel .webpanel-header h1 {
  text-align: center;
}
#panels .webpanel-stack .webpanel .webpanel-header {
  display: flex;
  align-items: center;
  padding: 6px 6px 6px 12px;
  background-color: #394551;
  border-bottom: 1px solid var(--colorBgDark);
}
button.button-toolbar.home {
  border: none;
}