*{
  color: white !important;
}
g.window-maximize-glyph > path {
  visibility: hidden !important;
}
.toolbar-statusbar {
background: #171b1f;
color: var(--colorFg);
height: 22px;
box-shadow: inset 0 1px 0 0 var(--colorBorder);
font-size: 11.5px;
position: relative;
width: 100%;
bottom: 0px;
margin: 0px 34px;
padding-right: 32px;
/* z-index: 1; */
}
button.window-maximize {
  border: 2px solid greenyellow;
  border-radius: 20px;
}
button.window-minimize > path {
  visibility:  hidden !important;
}
button.window-close > path {
  visibility:  hidden !important;
}
button.window-minimize > svg {
  border: 2px solid yellow;
  border-radius: 20px;
}
button.window-minimize > svg > path {
  visibility: hidden !important;
}
g.window-restore-glyph > path {
  visibility: hidden;
}
svg.window-maximize {
  border: 2px solid greenyellow;
  border-radius: 20px;
}
button.window-close > svg {
  border: 2px solid red;
  border-radius: 20px;
}
button.window-close > svg > path {
  visibility: hidden !important; 
}
#browser.win.win10 #header #titlebar .window-buttongroup button.window-close:hover{
  background-color: royalblue !important;
  fill: white !important;
}

.UrlBar {
  width: 100%;
  padding: 0px 30px;
  position: relative;
  margin: 0 34px;
  background: #394551 !important;
  background-color: #394551 !important;
}

.tab-position .tab {
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
  overflow: hidden;
  font-size: 12px;
  -webkit-user-select: none;
  -webkit-user-drag: element;
  background-color: rgb(23 27 31) !important;
}
div.toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-noflex.toolbar-large {
  right: 30px !important;
      left: -30px !important;
}
.toolbar-mainbar {
  background-color: #394551 !important;
  background: #394551 !important;
}
.UrlBar-AddressField {
  background: none;
  border: none;
  border-left: 2px solid white !important;
  border-right: 2px solid white !important;
  border-radius: 2px !important;
}
.UrlBar-AddressField:hover {
  border: none;
}
.UrlBar-AddressField:hover {
background: #2C343C;
border-radius: 5px;
}
.UrlBar-AddressField:focus {
  border-radius: 5px;
}
.UrlBar-AddressField:focus:hover {
  background: #394551;
}
.theme-dark #switch button.webviewbtn img {
  background-color: transparent;
  border-radius: 5px;
}
#modal-bg > div {
  border-radius: 20px;
}
.dialog-footer input[type=button], .dialog-footer input[type=submit], .dialog-footer input[type=submit] + input[type=button], .dialog-footer input[type=button] + input[type=button]{
  border-radius: 20px;
}
#browser.win.win10 #header #titlebar .window-buttongroup button.window-close:hover {
  background-color: none;
}
.color-behind-tabs-off .toolbar-mainbar {
  background: #394551 !important;
}
#browser .tab-position .tab.active {
  background: #394551 !important;
  background-color: #394551 !important;
}
#panels-container.left #switch {
      background: #171B1F;
      box-shadow: none;
}
.theme-dark .tab-position .tab.active .tab-header .favicon:not(.svg) {
  filter: none;
}
.sdwrapper .iconmenu-container.SearchField {
  border-radius: 20px;
}
.thumbnail-image {
background-color: transparent;
background: transparent;
}
#panels .webpanel-stack .webpanel {
  bottom: 56px;
}
#panels .webpanel-stack {
  top: 56px;
  margin-top: -22px;
}
div.button-toolbar.newtab:before {
  content: "+" !important;
  font-size: 20px;
  position: relative;
  left: 8px;
  top: -3px;
  text-align: center !important;
}
div.button-toolbar.newtab {
  fill: transparent !important;
}
div.button-toolbar.newtab:hover {
  transition: 0.3s;
  background: #394551 !important;
  border-radius: 4px !important;
}
div.button-toolbar.newtab > button {
 position: absolute;
 left: 1px !important;
 height: 0px !important;
 top: 1px !important;
 left: -14px !important;
 width: 45px !important;
}
.dials .dial .thumbnail-image {
  border-radius: 20px;
}
.startpage .startpage-drawer section.drawer-adddial {
  max-width: 400px;
  border-right: 1px solid #242424;
  border-bottom: 10px solid #343434;
  margin-bottom: -10px;
  background-color: #343434;
}
.button-popup {
  position: absolute;
  z-index: 5;
  display: flex;
  width: var(--popupWidth);
  max-height: 65vh;
  margin-left: calc((var(--popupWidth) * -0.5) + var(--popupLeftOffset));
  left: 50%;
  color: #cdc8c0;
  background-color: #343434;
  box-shadow: 0 0 0 1px #242424, 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: var(--radiusHalf);
}
.button-popup h2 {
  background-color: #2e2e2e;
  border-top-left-radius: var(--radiusHalf);
  border-top-right-radius: var(--radiusHalf);
  border-bottom: 1px solid #242424;
  padding: 6px 12px;
  font-weight: 600;
}
#main .ContentBlocker-Field {
  background-color: #343434;
  padding: 0 12px 12px;
  display: flex;
  flex-direction: column;
}
.startpage .startpage-drawer section.drawer-suggestions .dial-suggestions .dial .dial-image img {
  width: 36px;
  height: 36px;
  padding: 6px;
  background-color: transparent;
  border-radius: var(--radiusHalf);
  cursor: pointer;
  border: transparent;
}
div.NotesEditor.cardview {
  background: #343434 !important;
}
.button-popup .button-popup-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  background-color: #343434;
  border-radius: var(--radiusHalf);
}
.startpage .startpage-drawer {
  height: 294px;
  border-radius: 20px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 1;
  border-top: 1px solid #242424;
  position: absolute;
  transform-origin: 100% 0;
  border-bottom: 10px solid #2e2e2e;
  background-color: #2e2e2e;
  margin-bottom: -10px;
  max-width: 100%;
}
.startpage .startpage-drawer section.drawer-adddial {
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
button.close {
  border-radius: 20px;
  background: #555555;
  cursor: pointer;
}
div.dial-columns {
  cursor: pointer !important;
}
.startpage .startpage-drawer {
  width: 400px;
}
#modal-bg.slide > div {
  border-radius: 20px;
  }
  button.button-startpage.up {
    border-radius: 10px;
    cursor: pointer;
  }
  .addwebpanel-wrapper .addwebpanelcallout {
    background: #364259 !important;
  }
  #panels-container.left .addwebpanel-wrapper .addwebpanelcallout {
    border-radius: 12px;
  }
  .addwebpanel-wrapper .addwebpanelcallout:before, .addwebpanel-wrapper .addwebpanelcallout:after {
    border: 0px
  }
  .theme-dark .startpage .startpage-drawer section.drawer-suggestions .dial-suggestions .dial .dial-image img {
    background-color: transparent;
    border: none;
}
.startpage .startpage-drawer section.drawer-suggestions .dial-suggestions {
  padding-bottom: 12px;
  padding-top: 6px;
  top: -38px;
  left: 0px;
  transform: scale(0.8);
  align-items: unset;
}
.speeddial .dial.add .thumbnail-image svg.add-speeddial-large-plus {
  align-self: center;
  fill: var(--colorHighlightBg) !important;
  margin-top: 3px;
  width: 14px;
  height: 31px;
  transition: transform 500ms cubic-bezier(0.8, -0.3, 0.15, 1.3);
}
svg.add-speeddial-large-plus {
  position: relative;
  left: -50px;
  top: 0px;
}
button-popup.button-popup-arrow.button-popup-arrow--dark.button-popup-arrow--below button-popup-enter-done {
 border-radius: 20px !important;
}
.button-popup {
  border-radius: 12px !important;
}
div.button-popup-wrapper {
  border-radius: 12px !important;
}
div.account-dialog > header {
  border-radius: 12px !important;
}
div.account-dialog {
  border-radius: 12px !important;
}
div.popup-scrollarea {
  border-radius: 12px !important;
}
div.button-popup-wrapper {
  border-radius: 12px !important;
}
.thumbnail-image svg .folder-tab-color {
  visibility: hidden;
}
button.vivaldi {
  background:  #171b1f !important;
}
div.ignore-react-onclickoutside.OmniDropdown {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top: 20px;
  left: -2px;
  margin-right: -2px;
  padding:12px 0px;
  max-width: none;
  border: 2px solid cyan !important;
  background: #394551;
  color: white;
  border-top: none !important;
}
.SearchField:focus-within, .UrlBar-AddressField:focus-within {
  border-color: cyan !important;
  border: 2px solid cyan !important;
  box-shadow: none;
  background-color: #394551;
}
button.addwebpanel.panelbtn:hover {
  border-radius: 20px;
  box-shadow: inset -1px 0 0 0 cyan !important;
  background-color: cyan !important;
  border-radius: 20px;
  color: white;
  box-shadow: none !important;
  animation: SidebarPanelAddButtonAnimation .8s;
}

@keyframes idebarPanelAddButtonAnimation {
  from{transform: scale(0);}
  to{transform: scale(0.9);}
}
.addwebpanel-wrapper button {
  background-color: transparent;
  border-radius: 20px;
  border: none;
}
input.address {
  border-radius: 20px;
  outline: cyan !important;
}
.theme-dark .addwebpanel-wrapper button img, .theme-dark .addwebpanel-wrapper button svg {
  border-radius: 20px;
}
button.addwebpanel.panelbtn:focus {
  transition: transform 500ms cubic-bezier(0.8, -0.3, 0.15, 1.3);
}
input.address:focus {
  outline: cyan !important;
  border: 2px solid cyan !important;
  box-shadow: none !important;
  background-color: #394551;
}
input.address:hover:focus {
  outline: cyan !important;
  border: 2px solid cyan !important;
  box-shadow: none !important;
  background-color: #394551;
}
h1 {
  position: relative;
  left: 9px;
}
#panels-container.left .addwebpanel-wrapper .addwebpanelcallout {
  animation: leftfade 800ms cubic-bezier(0.2, 0.9, 0.6, 1);
}
#browser, #browser ~ div {
  background: #171b1f;
}
.address-top .toolbar-mainbar:after {
  visibility: hidden;
}
.bookmark-bar {
  display: flex;
  flex: 0 0 auto;
  overflow: visible;
  height: 28px;
  font-size: 11.5px;
  border: 0 solid var(--colorAccentBgDarker);
  position: relative;
  background-color: var(--colorAccentBgDark);
  margin: 0px 34px;
  margin-right: 0px;
  color: var(--colorAccentFg);
  stroke: var(--colorAccentFgFaded);
  --yield: 60px;
}
div.thumbnail-image.dial-folder-icon {
  border: 2px solid var(--colorBgLightIntense) !important;
  box-shadow: none !important;
}
.bookmark-bar button img, .bookmark-bar button svg {
  fill: white !important;
}
.color-behind-tabs-on .bookmark-bar button{
  background-color: #394551 !important;
  background: #394551 !important;
}
.bookmark-bar {
  background-color: #394551 !important;
}
.color-behind-tabs-off .bookmark-bar button {
  background-color: #394551 !important;
}
.color-behind-tabs-off:hover .bookmark-bar button:hover {
  cursor: pointer;
}
.color-behind-tabs-off .bookmark-bar button:focus {
 background-color: #0DEE9C !important;
}
color-behind-tabs-off .bookmark-bar button:hover {
  background-color: #0DEE9C !important;
 }
button.bookmarkbarItem.folder:hover:not-focused {
  background-color: #0DEE9C !important;
}
button.uifocusstop.bookmarkbarItem.folder:not:hover {
  background-color: transparent !important;
}
button.bookmarkbarItem.folder:not:hover {
  background-color: transparent !important;
}
#browser.break-mode .bookmarkbarItem {
  visibility: hidden;
}
.bookmark-bar-top .bookmark-bar {
  border-bottom: none;
}
/*
.color-behind-tabs-off .bookmark-bar button:focus {
  background-color: #0DEE9C !important;
 }
 */
.vivaldi-settings .settings-content {
  background-color: #343434 !important;
  background: #343434 !important;
}
#switch .addwebpanel-wrapper > button.active, #switch > button.active {
  background-color: #0ec7ff;
  transform: scale(0.8);
  color: white;
  fill: white !important;
  border-radius: 8px;
  border-color: var(--colorBorder);
  position: relative;
}
.startpage .startpage-navigation {
  visibility: hidden;
}
div.toolbar.toolbar-default.toolbar-wrap > input  {
  border-radius: 20px !important;
}
div.toolbar.toolbar-default.toolbar-wrap > input:focus-within {
  box-shadow: none;
  border: 2px solid #0DEE9C !important;
  background: #262626 !important;
}
div.toolbar.toolbar-default.toolbar-wrap > select  {
  border-radius: 20px !important;
}
#panels .webpanel-stack .webpanel .webpanel-header h1 {
  text-align: center;
}
#panels .webpanel-stack .webpanel .webpanel-header {
  display: flex;
  align-items: center;
  padding: 6px 6px 6px 12px;
  background-color: #394551;
  border-bottom: 1px solid var(--colorBgDark);
}
button.button-toolbar.home {
  border: none;
}
div.button-toolbar:nth-child(1) > button {
  border: none;
  background: none;
}
div.button-toolbar:nth-child(3) > button {  
  border: none;
  background: none;
}
div.button-toolbar:nth-child(4) > button {
  border: none;
  background: none;
}
div.button-toolbar:nth-child(2) > button {  
  border: none;
  background: none;
}
@keyframes blueani {
  from{opacity: 0;}
  to{opacity: 1;}
}

.toolbar-default .button-toolbar > button:hover {
  border-radius: 20px;
  background: #0ec7ff;
  animation: blueani .8s;
}
.addwebpanel-wrapper button:hover {
  background: #0ec7ff;
  animation: blueani .8s;
}
div.omni-clickable.OmniLinkItem.OmniLinkItem--Highlighted.OmniLinkItem--SingleValue {
  background-color: #0ec7ff;
}
div.omni-clickable.OmniLinkItem.OmniLinkItem--Highlighted.OmniLinkItem {
  background-color: #0ec7ff;
}
.button-popup-arrow--above:before {
  visibility: hidden;
}
.HUD {
  border-radius: 20px;
}

.panel-group .panel-collapse-guard {
  display: flex;
  flex: 1;
  position: relative;
  margin-top: -34px;
  contain: strict;
  background-color: #343434 !important;
  margin-bottom: 0;
}
.panel#downloads .download-editor .data {
  display: flex;
  flex-direction: column;
  background: #262626;
  flex: 1;
  max-width: 100%;
}
div.dial.add > button.thumbnail-image {
    position: absolute !important;
    height: 51px !important;
    background: #202020 !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 0px 1px, rgba(0, 0, 0, 0.12) -3.05px 3px 3px !important;
}
button.vivaldi:hover {
  transition: .35s !important;
  background: #ef3939 !important;
}
#browser.color-behind-tabs-on, #browser ~ div.color-behind-tabs-on {
  background: #171b1f !important;
  color: #fff !important;
}
#switch .addwebpanel-wrapper > button svg, #switch > button svg {
  fill: #d6d6d6 !important;
}
header.settings-navigation-header > input.settings-search {
  border-radius: 20px;
}
div.setting-group > div.setting-single > div > p > input[type = "button"] {
  border-radius: 20px !important;
}
input {
  border-radius: 20px;
}
.selectbox .selectbox-image .theme-preview, .selectbox .selectbox-image .tab-preview {
  border-radius: 7px;
}
select:not([multiple]):not([size]), input[type=date] {
  border-radius: 20px;
}
.vivaldi-settings .setting-single input[type='text']:first-child:last-child {
  border-radius: 20px;
}
#app .floating-label .floating-input {
  border-radius: 20px;
}
.selectbox.selectbox-selected .selectbox-image {
  box-shadow: 0 0 0 1px var(--colorHighlightBg);
  border-radius: 6px;
}
.vivaldi-settings .settings-sidebar .button-category.category-selected {
  border-top-color: var(--colorBorder);
  border-bottom-color: var(--colorBorder);
  background-color: transparent;
  fill: #0DEE9C !important;
  color: #0DEE9C !important;
  border-radius: 20px;
  border: 2px solid;
  margin-right: 0;
}
.vivaldi-settings .settings-sidebar .settings-navigation:focus-within .tree-row[data-selected] .button-category:not(:active){
  border-top-color: var(--colorBorder);
  border-bottom-color: var(--colorBorder);
  background-color: transparent;
  fill: #0DEE9C !important;
  color: #0DEE9C !important;
  border-radius: 20px;
  border: 2px solid;
  margin-right: 0;
  box-shadow: none;
}
.settings-startpage .selectbox-image {
  border-radius: 6px;
}
.settings-startpage .selectbox-image {
  border-radius: 15px;
}
.master-detail {
  display: flex;
  border-radius: 15px;
  border: 2px solid red;
}
.master-detail .master-items {
  border-radius: 15px;
}
.master-detail .master-toolbar .button-toolbar:nth-child(1) {
  border-bottom-left-radius: 15px;
  background-color: ;
}
.master-detail .master-toolbar .button-toolbar:nth-last-child() {
  border-bottom-right-raidus: 15px;
}
.master-detail .master-toolbar {
  border-bottom-left-radius: 15px;
}
.vivaldi-settings .settings-sidebar .button-category:hover {
  cursor: pointer;
}
.vivaldi-settings .settings-sidebar .button-category {
  color: white !important;
  fill: white !important;
}
.vivaldi-settings .settings-sidebar {
  background-color: #171817 !important;
}
.Experiments {
  background:color #2e2e2e !important;
}
.dials .dial .button-title {
  background: #262626 !important;
  color: #cdc8c0 !important;
}
.sdwrapper .iconmenu-container.SearchField {
  background: #262626 !important;

}
select:not([multiple]):not([size]), input[type=date] {
  background-image: linear-gradient(55deg, #262626 43%, #00000000 45%), linear-gradient(125deg, transparent 53%, #262626 55%), linear-gradient(180deg, #262626 30%, #cdc8c0 30%);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right 4px;
  background-color: #262626;
}
input, select, textarea {
  background-color: #262626;
  color: #cdc8c0;
}
input[type=button], input[type=submit], input[type=color], .FormButton, .webpage-button {
  height: 28px;
  padding: 0 18px;
  -webkit-user-select: none;
  color: var(--colorFg);
  fill: currentColor;
  background-image: linear-gradient(#343434 0%, #2e2e2e 100%);
}
.vivaldi-settings {
  background-color: #2e2e2e;
  color: #cdc8c0;
  display: flex;
  flex: 1;
  position: relative;
  box-shadow: 0 -1px #242424;
  max-width: 100%;
}
.master-detail .master-items {
  flex: 1;
  overflow: auto;
  background-image: linear-gradient(180deg, rgb(46 46 46 / 0.8) 0, rgb(46 46 46 / 0.8) 50%, transparent 50%, transparent 100%);
  background-size: 100% 56px;
  background-attachment: local;
  background-repeat: repeat-y;
}
.master-detail .master-toolbar {
  border-top: 1px solid #242424;
  background-color: #343434;
  display: flex;
  height: 20px;
}
.theme-schedule-timeline .theme-schedule-timeslice .timeslice-bubble {
  position: absolute;
  cursor: col-resize;
  width: 50px;
  background-color: #343434;
  border: 1px solid #242424;
  text-align: center;
  font-weight: 500;
  margin-left: -25px;
  left: 0;
  padding: 3px 0;
  bottom: 40px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.3);
}
.master-detail .master-toolbar .button-toolbar {
  background-color: #343434;
  border-width: 0;
  border-right-width: 1px;
  display: flex;
  width: 30px;
  height: 19px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}
